*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
header{
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.btn{
  padding:5px;
  margin: 5px 3px;
  background-color: #222222;
  color:grey;
  border:none;
  border-radius: 5px;
  cursor:pointer;
  
}

main{
  background-color: black;
  height: calc(100vh - 100px);
  overflow: auto;
  color: white;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.container{
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  
}

.card{
  width: 250px;
  height: 150px;
  margin-right:3px;
  margin-bottom:15px;
  
  
}
.user{
  position:relative;
  bottom: 23px;
  background-color: rgba(189, 195, 199, 0.5);
}
footer{
  height: 100px;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > div > span{
  color: white;
  
}
.icon{
  font-size: 30px;
  text-align: center;
  padding-left:20px;
}
.icon:hover{
  color: #4BC800;
  text-align: center;
}
.icon.up{
  font-size: 10px;
  padding-top: 23px;
}
.icon-meaning{
  font-size: 10px;
  align-items: center;
}
#end-button{
  background-color: #4A4A4A;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
#end{
  color:red;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  
}
.bar{
  display: flex;
}

